.menu-bar
{
	background: #fff;
	position: absolute;
	left: 0px;
	height: 550px;
	width: 200px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);


}

#round{
	display: block;
	width: 169px;
	height: 169px;
    float: left;
    border-right: 1px solid #dfdfdd;
    border-bottom: 1px solid #dfdfdd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    cursor: move

}

#square {
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    border-right: 1px solid #dfdfdd;
    border-bottom: 1px solid #dfdfdd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    cursor: move
   
}


#m-patrata{
	position: absolute;
    font-size: 20px;
    top:297px;
    left: 30px;
    right: 0;
}	
#oval-table{
    display: block; 
    width: 169px;
    height: 129px;
    float: left;
    border-right: 1px solid #dfdfdd;
    border-bottom: 0px white;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
    cursor: move

}
#m-ovala{
    position: absolute;
    font-size: 20px;
    top:450px;
    left: 30px;
    right: 0;
}   

.hold{
    border: solid #ccc 4px;

}
.hovered{
    background: #f4f4f4;
}
.invisible{
    display: none;
}